---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { themeConfig, isExternalLink } from '../lib/theme.js';
---

<BaseLayout title={themeConfig.title} description={themeConfig.description}>
  <section class="intro">
    <h1>{themeConfig.home.headline}</h1>
    <p>{themeConfig.home.intro}</p>
  </section>

  {themeConfig.home.links.length > 0 && (
    <>
      <hr />

      <section class="links">
        <h2>{themeConfig.labels.links}</h2>
        <ul>
          {themeConfig.home.links.map((link) => (
            <li>
              <a
                href={link.href}
                target={isExternalLink(link.href) ? '_blank' : undefined}
                rel={isExternalLink(link.href) ? 'noreferrer' : undefined}
              >
                {link.text}
              </a>
            </li>
          ))}
        </ul>
      </section>
    </>
  )}
</BaseLayout>
